.top-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.95); /* Utilisation de rgba pour la transparence */
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-navbar li {
  margin: 0 15px;
}

.top-navbar button,
.top-navbar a {
  color: white;
  text-transform: none;
}

.top-navbar button:hover,
.top-navbar a:hover {
  color: #f0f0f0;
}

.top-navbar a {
  display: inline-flex;
  align-items: center;
}

.side-navbar-network {
  right: 30px; 
  top: 25px;
}

.side-navbar-theme {
  right: 30px; 
  bottom: 25px;
}

.side-navbar-home {
  left: 30px; 
  top: 25px;
}

.side-navbar{
  width: 100%;
  height: 100vh;
}

.side-navbar ul {
  position: absolute; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-navbar li {
  margin: 10px 0;
}

.progress-bar {
  height: 2px; /* Adjust the height as needed */
  background-color: #ffffff; /* White color */
  position: fixed;
  top: 49px; /* Adjust depending on the height of your navbar */
  left: 0;
  z-index: 999; /* Positioned below the navbar */
}


/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .top-navbar {
    flex-direction: column;
  }

  .top-navbar ul {
    flex-direction: column;
  }

  .top-navbar li {
    margin: 10px 0;
  }
}